# Prerequisites
*.d

# VSCode
.VSCode/*

# Debug/Outputs
valgrind-out.txt
*.csv

# CMake
CMakeFiles
CMakeCache.txt
cmake-build-debug
cmake_install.cmake
*.cmake
Makefile
./**Makefile

# Test Library compiled objects
*.pc
Google_Tests_run
ExtractMatPlot

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
17_fem1d_17_fem1d

# Meshes
*.msh

#idea
.idea

#build
build/